.path-0{
      animation:pathAnim-0 4s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    @keyframes pathAnim-0{
      0%{
        d: path("M 0,600 C 0,600 0,120 0,120 C 257,123.5 514,127 754,127 C 994,127 1217,123.5 1440,120 C 1440,120 1440,600 1440,600 Z");
      }
      25%{
        d: path("M 0,600 C 0,600 0,120 0,120 C 220,107 440,94 680,94 C 920,94 1180,107 1440,120 C 1440,120 1440,600 1440,600 Z");
      }
      50%{
        d: path("M 0,600 C 0,600 0,120 0,120 C 280.5,126 561,132 801,132 C 1041,132 1240.5,126 1440,120 C 1440,120 1440,600 1440,600 Z");
      }
      75%{
        d: path("M 0,600 C 0,600 0,120 0,120 C 231.5,119 463,118 703,118 C 943,118 1191.5,119 1440,120 C 1440,120 1440,600 1440,600 Z");
      }
      100%{
        d: path("M 0,600 C 0,600 0,120 0,120 C 257,123.5 514,127 754,127 C 994,127 1217,123.5 1440,120 C 1440,120 1440,600 1440,600 Z");
      }
    }
    .path-1{
      animation:pathAnim-1 4s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    @keyframes pathAnim-1{
      0%{
        d: path("M 0,600 C 0,600 0,240 0,240 C 259,247.5 518,255 758,255 C 998,255 1219,247.5 1440,240 C 1440,240 1440,600 1440,600 Z");
      }
      25%{
        d: path("M 0,600 C 0,600 0,240 0,240 C 242,227 484,214 724,214 C 964,214 1202,227 1440,240 C 1440,240 1440,600 1440,600 Z");
      }
      50%{
        d: path("M 0,600 C 0,600 0,240 0,240 C 209,225 418,210 658,210 C 898,210 1169,225 1440,240 C 1440,240 1440,600 1440,600 Z");
      }
      75%{
        d: path("M 0,600 C 0,600 0,240 0,240 C 230,240 460,240 700,240 C 940,240 1190,240 1440,240 C 1440,240 1440,600 1440,600 Z");
      }
      100%{
        d: path("M 0,600 C 0,600 0,240 0,240 C 259,247.5 518,255 758,255 C 998,255 1219,247.5 1440,240 C 1440,240 1440,600 1440,600 Z");
      }
    }
    .path-2{
      animation:pathAnim-2 4s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    @keyframes pathAnim-2{
      0%{
        d: path("M 0,600 C 0,600 0,360 0,360 C 219.5,353 439,346 679,346 C 919,346 1179.5,353 1440,360 C 1440,360 1440,600 1440,600 Z");
      }
      25%{
        d: path("M 0,600 C 0,600 0,360 0,360 C 223,375 446,390 686,390 C 926,390 1183,375 1440,360 C 1440,360 1440,600 1440,600 Z");
      }
      50%{
        d: path("M 0,600 C 0,600 0,360 0,360 C 225,356.5 450,353 690,353 C 930,353 1185,356.5 1440,360 C 1440,360 1440,600 1440,600 Z");
      }
      75%{
        d: path("M 0,600 C 0,600 0,360 0,360 C 228,349.5 456,339 696,339 C 936,339 1188,349.5 1440,360 C 1440,360 1440,600 1440,600 Z");
      }
      100%{
        d: path("M 0,600 C 0,600 0,360 0,360 C 219.5,353 439,346 679,346 C 919,346 1179.5,353 1440,360 C 1440,360 1440,600 1440,600 Z");
      }
    }
    .path-3{
      animation:pathAnim-3 4s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    @keyframes pathAnim-3{
      0%{
        d: path("M 0,600 C 0,600 0,480 0,480 C 233.5,484 467,488 707,488 C 947,488 1193.5,484 1440,480 C 1440,480 1440,600 1440,600 Z");
      }
      25%{
        d: path("M 0,600 C 0,600 0,480 0,480 C 218,480 436,480 676,480 C 916,480 1178,480 1440,480 C 1440,480 1440,600 1440,600 Z");
      }
      50%{
        d: path("M 0,600 C 0,600 0,480 0,480 C 294.5,469 589,458 829,458 C 1069,458 1254.5,469 1440,480 C 1440,480 1440,600 1440,600 Z");
      }
      75%{
        d: path("M 0,600 C 0,600 0,480 0,480 C 280,494 560,508 800,508 C 1040,508 1240,494 1440,480 C 1440,480 1440,600 1440,600 Z");
      }
      100%{
        d: path("M 0,600 C 0,600 0,480 0,480 C 233.5,484 467,488 707,488 C 947,488 1193.5,484 1440,480 C 1440,480 1440,600 1440,600 Z");
      }
    }